.margin-main {
  margin: 80px 0;
}
.bicicleta:nth-child(2){
  background-image: linear-gradient(to right, var(--w) 30%, var(--c11) 10%);
}
.bicicleta-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  padding: 80px 40px;
}
.img-container {
  position: relative;
}
.img-container::after {
  content: 'R$ 4999';
  padding: 8px 16px 8px 8px;
  border-radius: 5px 0 0 5px;
  background-color: var(--c12);
  color: var(--w);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height:  1.33;
  position: absolute;
  top: 20px;
  right: 0;
}
.bicicleta-foto {
  border-radius: 5px;
  object-fit: cover;
  object-position: top center;
  height: 100%;
}
.bicicleta-descricao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  color: var(--c8);
  gap: 10px;
}
.bicicleta-descricao::before {
  content: '';
  width: 12px;
  height: 8px;
  position: absolute;
  background-color: var(--p1);
  top: 2px;
}
.bicicleta-descricao::after {
  content: url('./../../img/dec/top-right.svg');
  position: absolute;
  top: 0;
  right: 40px;
}
.descricao-bicicleta-nome {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  line-height: 1.11;
  font-weight: 600;
  z-index: 1;
}
.bicicleta-paragrafo {
  grid-column: 1 / -1;
  max-width: 50ch;
}
.btn-bicicleta {
  align-self: end;
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 15px;
}
.bicicleta-lista {
  display: grid;
  gap: 10px;
}
.bicicleta-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  color: var(--c8);
}
.bicicleta:nth-child(2) .descricao-bicicleta-nome{
  color: var(--w);
}
.bicicleta:nth-child(2) .bicicleta-paragrafo, 
.bicicleta:nth-child(2) .item-titulo{
  color: var(--c5);
}
.bicicleta:nth-child(2) .img-container::after {
  content: 'R$ 2499';
}
.bicicleta:nth-child(3) .img-container::after {
  content: 'R$ 3999';
}
@media (max-width: 800px) {
  .bicicleta-container {
    grid-template-columns: 1fr;
  }
  .bicicleta:nth-child(2) {
    background-image: initial;
    background-color: var(--c11);
  }
}
@media (max-width: 600px) {
  .bicicleta-descricao {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .descricao-bicicleta-nome {
    font-size: 2rem;
  }
  .bicicleta-paragrafo {
    font-size: 1rem;
  }
  .bicicleta-itens {
    font-size: 1rem;
  }
  .bicicleta-container {
    padding: 40px 20px;
  }
  .margin-main {
    margin: 40px 0;
  }
}
@media (max-width: 400px) {
  .bicicleta-descricao::after {
    display: none;
  }
  .img-container::after {
    font-size: .75rem;
    padding: 5px 10px 5px 5px;
  }
}