.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}
.feedback-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.feedback-container {
  background-color: var(--p1);
  display: grid;
  padding: 40px 200px 80px 80px;
  position: relative;
}
.feedback-container div {
  align-self: end;
  display: grid;
  gap: 20px;
}
.feedback-comentario {
  font-size: 2.25rem;
  font-family: "Merriweather", serif;
  line-height: 1.33;
  max-width: 25ch;
  align-self: center;
  z-index: 2;
  position: relative;
}
.feedback-comentario::before {
  content: "";
  background-image: url("../../img/dec/aspas-top.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
  height: 35px;
  position: absolute;
  top: -15px;
  left: -40px;
}
.feedback-comentario::after {
  content: "";
  background-image: url("../../img/dec/aspas-bottom.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
  height: 35px;
  position: absolute;
  bottom: -10px;
  right: -25px;
}
.feedback-container::before {
  content: "";
  background-image: url("../../img/dec/top-left-p.svg");
  background-repeat: no-repeat;
  background-size: 52px;
  width: 52px;
  height: 52px;
  top: 40px;
  left: 40px;
  z-index: 1;
  position: absolute;
}
.feedback-container::after {
  content: "";
  background-image: url("../../img/dec/bottom-right-p.svg");
  width: 52px;
  height: 52px;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 52px;
}
.feedback-nome {
  color: var(--p4);
}
@media (max-width: 1500px) {
  .feedback-container {
    padding: 40px 40px 80px 80px;
  }
}
@media (max-width: 1000px) {
  .feedback {
    grid-template-columns: 1fr;
  }
  .feedback-container div {
    justify-self: center;
  }
  .feedback-container {
    padding: 40px 20px;
  }
  .feedback-comentario {
    font-size: 1.5rem;
    max-width: 40ch;
    text-align: center;
  }
  .feedback-image {
    height: 230px;
    width: 100%;
  }
  .feedback-nome {
    font-size: 1.25rem;
  }
}
@media (max-width: 800px) {
  .feedback-comentario {
    font-size: 1.125rem;
  }
  .feedback-comentario::before,
  .feedback-comentario::after {
    background-size: 25px;
    width: 25px;
    height: 25px;
  }
  .feedback-container::before {
    top: 20px;
    left: 20px;
  }
  .feedback-container::after {
    bottom: 20px;
    right: 20px;
  }
  .feedback-comentario::before {
    left: -20px;
    top: -10px;
  }
  .feedback-nome {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .feedback-comentario {
    font-size: 0.875rem;
  }
  .feedback-nome {
    font-size: 0.75rem;
  }
  .feedback-container div {
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .feedback-comentario {
    max-width: 26.5ch;
  }
}
